body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #343a40 !important; /* Override Bootstrap default background color */
}

.navbar .navbar-nav .nav-link {
    color: #ffffff !important; /* Override Bootstrap default text color */
}

.dashboard-content {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

.dashboard-content h2 {
    color: #343a40; /* Dark color for heading */
}

.additional-content {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

.additional-content h2 {
    color: #343a40; /* Dark color for heading */
}

.additional-content .text-blue-500 {
    color: #1e90ff; /* Blue color for link */
}

.additional-content .text-blue-500:hover {
    text-decoration: underline; /* Underline on hover for link */
}

/* Styling for the form */
/* Styling for the form */
.form-container {
    width: 1000px; /* Adjust width as needed */
    margin: 50px auto; /* Center the form horizontally and add margin from the top */
    padding: 20px;
    background-color: #f8f9fa; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow effect */
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40; /* Dark color for heading */
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: calc(100% - 20px); /* Adjust input width to consider padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners for input fields */
}

.form-container button {
    width: calc(100% - 20px); /* Adjust button width to consider padding */
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff; /* Blue button color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}


.btn-logout {
    padding: 10px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #c9302c;
}