body {
    font-family: 'Arial', sans-serif;
    background-image: '//im.vsco.co/aws-us-west-2/8cb2d9/298215499/662674e706b1e67e68000001/0e933fd6-72d0-425e-a03e-599dd5c3bd9e5699739267100307620.jpg?w=300 300w, //im.vsco.co/aws-us-west-2/8cb2d9/298215499/662674e706b1e67e68000001/0e933fd6-72d0-425e-a03e-599dd5c3bd9e5699739267100307620.jpg?w=480 480w, //im.vsco.co/aws-us-west-2/8cb2d9/298215499/662674e706b1e67e68000001/0e933fd6-72d0-425e-a03e-599dd5c3bd9e5699739267100307620.jpg?w=600 600w, //im.vsco.co/aws-us-west-2/8cb2d9/298215499/662674e706b1e67e68000001/0e933fd6-72d0-425e-a03e-599dd5c3bd9e5699739267100307620.jpg?w=640 640w, //im.vsco.co/aws-us-west-2/8cb2d9/298215499/662674e706b1e67e68000001/0e933fd6-72d0-425e-a03e-599dd5c3bd9e5699739267100307620.jpg?w=960 960w, //im.vsco.co/aws-us-west-2/8cb2d9/298215499/662674e706b1e67e68000001/0e933fd6-72d0-425e-a03e-599dd5c3bd9e5699739267100307620.jpg?w=1136 1136w, //im.vsco.co/aws-us-west-2/8cb2d9/298215499/662674e706b1e67e68000001/0e933fd6-72d0-425e-a03e-599dd5c3bd9e5699739267100307620.jpg?w=1200 1200w' ;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container img {
    width: 100px;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}