/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background-color: #343a40 !important;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff !important;
}

.sss{
    margin-top: 50px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

/* Table styles */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #28343b;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Action buttons styles */
.action-buttons {
    display: flex;
    box-shadow: 1px 1px 1px grey;
}

.action-buttons form {
    margin-right: 10px;
}

.action-buttons button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Edit button style */
.action-buttons .btn-edit {
    background-color: #f0ad4e; /* Warna kuning */
    color: white;
}

.action-buttons .btn-edit:hover {
    background-color: #ec971f; /* Warna kuning lebih gelap saat dihover */
}

/* Delete button style */
.action-buttons .btn-delete {
    background-color: #d9534f; /* Warna merah */
    color: white;
}

.action-buttons .btn-delete:hover {
    background-color: #c9302c; /* Warna merah lebih gelap saat dihover */
}

/* Checkout button style */
.action-buttons .btn-checkout {
    background-color: #007bff; /* Warna biru */
    color: white;
}

.action-buttons .btn-checkout:hover {
    background-color: #0056b3; /* Warna biru lebih gelap saat dihover */
}

/* Modal styles */
.modal-header h1 {
    font-size: 20px;
}

.modal-body {
    padding: 20px;
}

.modal-body form {
    margin: 0 auto;
    max-width: 300px;
}

.modal-body input[type="text"],
.modal-body input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-footer {
    padding: 20px;
    text-align: center;
}

.modal-footer button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add button style */
.btn-add {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #0056b3;
}

/* Style untuk tombol logout */
.btn-logout {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}


